@import "tailwindcss";

/* :root {} */

/* Configurações Tailwind */
@theme {
    /* Variáveis de cor */
    --color-*: initial;
    --color-purple-1: #7a4dff;
    --color-purple: #6632ff;
    --color-purple1: #4b12f3;

    --color-orange-1: #f8c272;
    --color-orange: #ffb039;
    --color-orange1: #ff9b05;

    --color-black-1: #010101;
    --color-black: #000;

    --color-dark: #1f1f2f;

    --color-gray: #dbdbdb;
    --color-gray1: #bdbdbd;

    --color-white: #fff;
    --color-white1: #f1f1f1;

    /* Variáveis de espaçamento */
    --spacing-*: initial; 
    --spacing-xxl: 50px;
    --spacing-xl: 35px;
    --spacing-l: 25px;
    --spacing-m: 20px;
    --spacing-s: 15px;
    --spacing-xs: 10px;
    --spacing-xxs: 6px;
    --spacing-xxxs: 3px;

    /* Border radius */
    --radius-*: initial;
    --radius-xxl: 50px;
    --radius-xl: 35px;
    --radius-l: 25px;
    --radius-m: 20px;
    --radius-s: 15px;
    --radius-xs: 10px;
    --radius-xxs: 6px;
    --radius-xxxs: 3px;

    /* Variáveis dos icones */
    --icon-xl: 28px;
    --icon-l: 25px;
    --icon-m: 20px;
    --icon-s: 18px;

    /* Tamanho da tipografia */
    --text-*: initial;
    --text-h1: 30px;
    --text-h2: 25px;
    --text-h3: 20px
    --text-h4: 18px;
    --text-h5: 16px;
    --text-p: 14px;
    --text-h6: 12px;
    --text-small: 10px;
}

/* Configurações Lucide */
.lucide {
  stroke-width: 2;
}


/* CORPO */
body {
    font-family: var(--font-inter), system-ui, sans-serif;

}

/* Classes para icones - Lucide*/
.icon-xl {
    --size: var(--icon-xl);
    width: var(--size);
    height: var(--size);
}

.icon-l {
    --size: var(--icon-l);
    width: var(--size);
    height: var(--size);
}

.icon-m {
    --size: var(--icon-m);
    width: var(--size);
    height: var(--size);
}

.icon-s {
    --size: var(--icon-s);
    width: var(--size);
    height: var(--size);
}

/* Tipografia para tags */
h1 {
    font-size: var(--text-h1);
}

h2 {
    font-size: var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

h4 {
    font-size: var(--text-h4);
}

h5 {
    font-size: var(--text-h5);
}

h6 {
    font-size: var(--text-h6);
}